 <div id="top-container" class="container-fluid">
        <h1 id="main-title" class="text-center">Encontre o emprego que combina com você!</h1>
        <p id="main-subtitle" class="text-center">Somos diversificados</p>

        <form id="search-form" class="form-inline" action="">

            <div class="form-group col-md-10">
                <input type="text" class="form-control" id="job" name="job" placeholder="Digite a vaga que está buscando">
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Procurar</button>
            </div>

        </form>

    </div>

    <main>

        <div id="jobs-container" class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 id="jobs-list-title">Vagas em destaque</h2>
                   
                    <ul id="job-list" class="list-group">

                        <li class="list-group-item new-job">
                            <img src="/image/company.svg" alt="nome da empresa">
                            <p>Empresa</p>
                            <h2>Título da vaga</h2>
                            <p>R$ 5000,00</p>
                            <span class="new-job-label">Nova</span>
                            <a class="btn btn-primary">Ver Vaga</a>
                        </li>

                        <li class="list-group-item new-job">
                            <img src="/image/company.svg" alt="nome da empresa">
                            <p>Empresa</p>
                            <h2>Título da vaga</h2>
                            <p>R$ 5000,00</p>
                            <span class="new-job-label">Nova</span>
                            <a class="btn btn-primary">Ver Vaga</a>
                        </li>

                        <li class="list-group-item">
                            <img src="/image/company.svg" alt="nome da empresa">
                            <p>Empresa</p>
                            <h2>Título da vaga</h2>
                            <p>R$ 5000,00</p>
                            
                            <a class="btn btn-primary">Ver Vaga</a>
                        </li>

                        <li class="list-group-item new-job">
                            <img src="/image/company.svg" alt="nome da empresa">
                            <p>Empresa</p>
                            <h2>Título da vaga</h2>
                            <p>R$ 5000,00</p>
                            <span class="new-job-label">Nova</span>
                            <a class="btn btn-primary">Ver Vaga</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>

    </main>